@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f8fafc;
}

.background {
  background-color: #644df6;
}

.backgroundMain {
  background-color: #1a1a1a;
}

.newColor {
  color: #1a1a1a;
}

.coverLine {
  width: 100%;
  height: 2rem;
  background-color: #fff;
  position: absolute;
  bottom: -1.9rem;
  z-index: 3;
}